//* portfolio MB *// 

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('/normalize.css');

//////////////////////////////////////////////////////////// 
// procedural
.pageTop {
    display: block;
    position: absolute;
    top: 4rem;
    left: 0;

    .circle {
        position: relative;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        z-index: 1;
        user-select: none;
        text-align: center;
    }
}

//////////////////////////////////////////////////////////// 
// page
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    width: 0px;
}

body {

    overflow-x: hidden;
    max-width: 1800px;
    background-color: rgba(86, 151, 215,1);
    background-image: linear-gradient(0deg,
                    rgba(86, 151, 215, 1) 1%,
                    rgba(86, 151, 215, 0.5) 5%,
                    rgba(86, 151, 215, 0)99%),
                      url("./images/winter_web.jpg");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;



    .navBar {
        background-color: rgba(86, 151, 215, 1.0);
        z-index: 99;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.125);

        .icon_settings {
            position: absolute;
            display: block;
            top: 6px;
            left: 2vw;
            z-index: 8;
            background-image: url("./images/settings.png");
            background-position-x: center;
            background-repeat: no-repeat;
            background-size: 60%;
            width: 3rem;
            height: 3rem;
            opacity: 0.25;

            &:hover {
                cursor: pointer;
                background-size: 75%;
                top: 2px;
                opacity: 1;
            }
        }

        .menu {
            margin: 0.5rem;

            ul {
                display: flex;
                justify-content: center;
                gap: 8vw;
                list-style-type: none;

                a {
                    user-select: none;
                    position: relative;
                    text-align: right;
                    text-decoration: none;
                    color: #000;
                    display: block;
                    bottom: 0;
                    text-shadow: 0 0 rgba (0, 0, 0, 0.2);
                    transition: bottom 0.2s ease-out, text-shadow 0.2s;

                    &:hover {
                        color: #fff;
                        bottom: 0.025rem;
                        text-shadow: 0 0.4rem 0.125rem rgba(0, 0, 0, 0.2);
                    }

                    &:active {
                        //border: 1px solid black;
                    }

                    li {
                        width: 100%;
                    }
                }

                a.current {
                    color: #fff;
                }
            }
        }
    }

    .animOptions {
        user-select: none;
        border-radius: 0.5rem;
        background-color: rgba(255, 255, 255, 0.25);
        padding: 0.25rem 0.5rem;
        position: fixed;
        z-index: 99;
        top: 60px;
        left: 2rem;
        width: 18rem;

        h3 {
            margin-left: 0.75rem;
            margin-bottom: 0.25rem;
            font-size: 1rem;
            font-weight: normal;
        }

        .settingsContainer {
            
            display: flex;
            justify-content: space-between;

            .close {
                position: absolute;
                top: 0.45rem;
                right: 0.45rem;
                font-size: 1rem;
                font-weight: bold;
                text-align: center;
                width: 1.5rem;
                height: 1.5rem;
                line-height: 1.5rem;
                color: rgba(0, 0, 0, 0.5);
                background-color: rgba(255, 255, 255, 0.125);
                border-radius: 50%;

                &:hover {
                    cursor: pointer;
                    color: rgba(0, 0, 0, 0.75);
                    background-color: rgba(255, 255, 255, 0.250);
                }
            }

            .col {
                width: 50%;
                padding: 0 0.5rem;

                input.colorSelector {
                    margin-top: 0.65rem;
                    width: 100%;
                }

                p {
                    margin: 0 0.25rem;
                    font-size: 0.75rem;
                }

                .slider {
                    -webkit-appearance: none;
                    margin: 0.25rem 0.25rem;
                    width: 80%;
                    border: none;
                    background: transparent;

                    &:hover {
                        opacity: 1;
                    }

                    &:focus {
                        outline: none;
                    }
                }

                .slider::-ms-track {
                    width: 80%;
                    margin: 0.25rem 0.25rem;
                    cursor: pointer;
                    background: transparent;
                    border-color: transparent;
                    color: transparent;
                }

                .slider::-webkit-slider-thumb {

                    -webkit-appearance: none;
                    height: 0.75rem;
                    width: 0.5rem;
                    border-radius: 3px;
                    background: #fff;
                    cursor: pointer;
                    margin-top: -0.15rem;
                }

                .slider::-webkit-slider-runnable-track {
                    width: 100%;
                    height: 0.5rem;
                    cursor: pointer;
                    background: rgba(0, 0, 0, 0.125);
                }

                .slider:focus::-webkit-slider-runnable-track {
                    background: rgba(0, 0, 0, 0.25);
                }

                ////// firefox
                @-moz-document url-prefix() {
                    .slider {
                        margin: 0rem 0.25rem;
                    }

                    .slider::-moz-range-thumb {
                        -webkit-appearance: none;
                        height: 0.75rem;
                        width: 0.5rem;
                        border-radius: 3px;
                        background: #fff;
                        cursor: pointer;
                    }

                    .slider::-moz-range-track {
                        width: 100%;
                        height: 0.5rem;
                        cursor: pointer;
                        background: rgba(0, 0, 0, 0.125);
                    }

                    .slider:focus::-moz-range-track {
                        background: rgba(0, 0, 0, 0.25);
                    }
                }

            }
        }
    }


    .pageContainer {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .mainContainer {
            padding: 18rem 2rem;
            height: 96rem;


            header {
                padding-top: 4rem;
                text-align: center;
                z-index: 5;
                user-select: none;

                h1 {

                    z-index: 5;
                    position: relative;

                    line-height: 3.5rem;
                    font-size: 3rem;
                    color: #fff;
                    user-select: none;

                    .h1Char {

                        position: relative;
                        margin: 0;
                        bottom: 0;
                        text-shadow: 0 0.25rem 0.125rem rgba(1, 0, 0, 0.5);
                        transition: bottom 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), text-shadow 0.3s;

                        &:hover {
                            bottom: 0.5rem;
                            text-shadow: 0 1rem 0.25rem rgba(0, 0, 0, 0.2);
                        }
                    }
                }

                p.subheading {
                    z-index: 5;
                    padding: 0.25rem 0 1rem 0;
                    font-size: 1.375rem;

                }

                p {

                    font-weight: bold;
                }

                .cvButton {
                    user-select: none;
                    text-decoration: none;
                    margin: 1rem auto;
                    display: block;
                    width: 8rem;
                    position: relative;
                    color: #fff;
                    margin-bottom: 1.5rem;
                    padding: 0.25rem;
                    border: 2px solid black;
                    border-radius: 5px;
                    background-color: rgba(0, 0, 0, 0);
                    transition: width 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-color 0.5s;

                    &:hover {
                        width: 12rem;
                        background-color: rgba(0, 0, 0, 0.25);
                        cursor: pointer;
                    }
                }
            }



            section {
                margin: 0 auto;
                min-width: 8rem;
                max-width: 48rem;

                h2 {
                    user-select: none;
                    color: #fff;
                    font-weight: bold;
                    font-size: 2rem;
                }

                p {
                    padding: 0.5rem 0;

                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }

                .portfolioContainer {

                    margin-bottom: 8rem;

                    .infoPanel {
                        display: block;
                        height: 10rem;
                    }

                    .cardContainer {
                        margin: 0 auto;
                        display: grid;
                        justify-content: space-around;
                        grid-template-columns: auto auto auto;

                        .card {
                            z-index: 5;
                            background-color: rgba(255, 255, 255, 0.125);
                            border-radius: 5px;
                            width: 200px;
                            margin: 2rem 0;
                            padding: 0.5rem;
                            padding-bottom: 1rem;
                            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

                            &:hover {
                                margin: 1.9rem 0;
                                animation: jiggle 2s infinite linear;
                                transform: scale(1.1, 1.1);
                                border: 1px solid rgba(255, 255, 255, 0.5);
                                border-top-color: rgba(255, 255, 255, 0.95);
                                border-bottom-color: rgba(0, 0, 0, 0.5);
                                background-color: rgba(255, 255, 255, 0.3);
                                box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
                            }

                            @keyframes jiggle {
                                25% {
                                    transform: rotate(1deg) scale(1.1, 1.1);
                                }

                                50% {
                                    transform: rotate(0deg) scale(1.1, 1.1);
                                }

                                75% {
                                    transform: rotate(-1deg) scale(1.1, 1.1)
                                }
                            }


                            h3 {
                                padding: 00 0 0.5rem 0.5rem;
                                font-size: 1rem;
                            }

                            img {

                                max-width: 100%;
                                height: auto;
                                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                            }

                            p.info {
                                display: none;
                            }

                            &:hover {
                                cursor: pointer;
                            }

                            .projectLinks {
                                margin-top: 0.75rem;
                                display: flex;
                                justify-content: space-between;

                                span {
                                    position: relative;
                                    background-color: rgba(255, 255, 255, 0.5);
                                    padding: 0 0.25rem;
                                    text-align: center;

                                    a {
                                        text-decoration: none;
                                        color: #000f;
                                    }

                                    &:hover {
                                        // top: -0.125rem;
                                        // left: -0.125rem;
                                        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
                                    }

                                }
                            }
                        }

                    }

                }

                .contactFormContainer {

                    border-radius: 0.5rem;
                    background-color: rgba(255, 255, 255, 0.25);

                    form {
                        margin-top: 1rem;
                        padding: 2rem 2rem 1rem 2rem;

                        div {
                            position: relative;

                            label {
                                opacity: 0.3;
                                position: absolute;
                                top: 1.3rem;
                                left: 0.5rem;
                                color: #000;
                            }

                            input[type=text],
                            input[type=email],
                            select,
                            textarea {
                                padding: 0.5rem;
                                margin: 1rem 0;
                                width: 100%;
                                resize: vertical;

                                &:focus,
                                &:valid {
                                    border: 4px solid #0f0;

                                    +label {
                                        top: -0.5rem;
                                        opacity: 0.75;

                                    }


                                }




                                &:not(:placeholder-shown):not(:focus):invalid {
                                    border: 4px solid #f00;

                                    +label {
                                        top: -0.5rem;
                                        opacity: 0.75;

                                        &:before {
                                            content: "\2612 ";
                                        }
                                    }
                                }


                            }


                        }

                        button {
                            margin: 1rem auto;
                            display: block;
                            width: 8rem;
                            position: relative;
                            color: #fff;
                            margin-bottom: 1.5rem;
                            padding: 0.25rem;
                            border: 2px solid black;
                            border-radius: 5px;
                            background-color: rgba(0, 0, 0, 0);
                            transition: width 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-color 0.5s;

                            &:hover {
                                width: 12rem;
                                background-color: rgba(0, 0, 0, 0.25);
                                cursor: pointer;
                            }
                        }

                    }
                }


            }



        }




        .mainContainer#about,
        .mainContainer#contact {
            color: #fff;

            h2 {
                color: #000;
            }

            a {
                color: #000;
            }
        }

        .mainContainer#about {
            margin-top: 8rem;
        }

        .mainContainer#contact {

            footer {
                width: 100%;
                text-align: center;
                //background-color: rgba(0, 0, 0, 0.25);
                height: 1.5rem;
                color: rgba(255, 255, 255, 0.25);

                margin-top: 40px;
                bottom: 0px;

            }

        }


    }
}

//////////////////////////////////////////////////////////// 
// mobile adjustments

@media only screen and (max-width: 600px) {

    body {
        .pageContainer {
            .mainContainer#about {
                margin-top: 12rem;
            }

            .mainContainer {
                section {
                    .portfolioContainer {
                        .cardContainer {
                            grid-template-columns: auto auto;
                        }
                    }
                }
            }
        }



    }
}