@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0px;
}

.pageTop {
  display: block;
  position: absolute;
  top: 4rem;
  left: 0;
}
.pageTop .circle {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  z-index: 1;
  user-select: none;
  text-align: center;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden;
  max-width: 1800px;
  background-color: #5697d7;
  background-image: linear-gradient(0deg, #5697d7 1%, rgba(86, 151, 215, 0.5) 5%, rgba(86, 151, 215, 0) 99%), url("./images/winter_web.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body .navBar {
  background-color: #5697d7;
  z-index: 99;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.125);
}
body .navBar .icon_settings {
  position: absolute;
  display: block;
  top: 6px;
  left: 2vw;
  z-index: 8;
  background-image: url("./images/settings.png");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 60%;
  width: 3rem;
  height: 3rem;
  opacity: 0.25;
}
body .navBar .icon_settings:hover {
  cursor: pointer;
  background-size: 75%;
  top: 2px;
  opacity: 1;
}
body .navBar .menu {
  margin: 0.5rem;
}
body .navBar .menu ul {
  display: flex;
  justify-content: center;
  gap: 8vw;
  list-style-type: none;
}
body .navBar .menu ul a {
  user-select: none;
  position: relative;
  text-align: right;
  text-decoration: none;
  color: #000;
  display: block;
  bottom: 0;
  text-shadow: 0 0 rgba 0, 0, 0, 0.2;
  transition: bottom 0.2s ease-out, text-shadow 0.2s;
}
body .navBar .menu ul a:hover {
  color: #fff;
  bottom: 0.025rem;
  text-shadow: 0 0.4rem 0.125rem rgba(0, 0, 0, 0.2);
}
body .navBar .menu ul a li {
  width: 100%;
}
body .navBar .menu ul a.current {
  color: #fff;
}
body .animOptions {
  user-select: none;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 0.25rem 0.5rem;
  position: fixed;
  z-index: 99;
  top: 60px;
  left: 2rem;
  width: 18rem;
}
body .animOptions h3 {
  margin-left: 0.75rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: normal;
}
body .animOptions .settingsContainer {
  display: flex;
  justify-content: space-between;
}
body .animOptions .settingsContainer .close {
  position: absolute;
  top: 0.45rem;
  right: 0.45rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.125);
  border-radius: 50%;
}
body .animOptions .settingsContainer .close:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.75);
  background-color: rgba(255, 255, 255, 0.25);
}
body .animOptions .settingsContainer .col {
  width: 50%;
  padding: 0 0.5rem;
}
body .animOptions .settingsContainer .col input.colorSelector {
  margin-top: 0.65rem;
  width: 100%;
}
body .animOptions .settingsContainer .col p {
  margin: 0 0.25rem;
  font-size: 0.75rem;
}
body .animOptions .settingsContainer .col .slider {
  -webkit-appearance: none;
  margin: 0.25rem 0.25rem;
  width: 80%;
  border: none;
  background: transparent;
}
body .animOptions .settingsContainer .col .slider:hover {
  opacity: 1;
}
body .animOptions .settingsContainer .col .slider:focus {
  outline: none;
}
body .animOptions .settingsContainer .col .slider::-ms-track {
  width: 80%;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
body .animOptions .settingsContainer .col .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0.75rem;
  width: 0.5rem;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
  margin-top: -0.15rem;
}
body .animOptions .settingsContainer .col .slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.125);
}
body .animOptions .settingsContainer .col .slider:focus::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, 0.25);
}
@-moz-document url-prefix() {
  body .animOptions .settingsContainer .col .slider {
    margin: 0rem 0.25rem;
  }
  body .animOptions .settingsContainer .col .slider::-moz-range-thumb {
    -webkit-appearance: none;
    height: 0.75rem;
    width: 0.5rem;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
  }
  body .animOptions .settingsContainer .col .slider::-moz-range-track {
    width: 100%;
    height: 0.5rem;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.125);
  }
  body .animOptions .settingsContainer .col .slider:focus::-moz-range-track {
    background: rgba(0, 0, 0, 0.25);
  }
}
body .pageContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body .pageContainer .mainContainer {
  padding: 18rem 2rem;
  height: 96rem;
}
body .pageContainer .mainContainer header {
  padding-top: 4rem;
  text-align: center;
  z-index: 5;
  user-select: none;
}
body .pageContainer .mainContainer header h1 {
  z-index: 5;
  position: relative;
  line-height: 3.5rem;
  font-size: 3rem;
  color: #fff;
  user-select: none;
}
body .pageContainer .mainContainer header h1 .h1Char {
  position: relative;
  margin: 0;
  bottom: 0;
  text-shadow: 0 0.25rem 0.125rem rgba(1, 0, 0, 0.5);
  transition: bottom 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), text-shadow 0.3s;
}
body .pageContainer .mainContainer header h1 .h1Char:hover {
  bottom: 0.5rem;
  text-shadow: 0 1rem 0.25rem rgba(0, 0, 0, 0.2);
}
body .pageContainer .mainContainer header p.subheading {
  z-index: 5;
  padding: 0.25rem 0 1rem 0;
  font-size: 1.375rem;
}
body .pageContainer .mainContainer header p {
  font-weight: bold;
}
body .pageContainer .mainContainer header .cvButton {
  user-select: none;
  text-decoration: none;
  margin: 1rem auto;
  display: block;
  width: 8rem;
  position: relative;
  color: #fff;
  margin-bottom: 1.5rem;
  padding: 0.25rem;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  transition: width 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-color 0.5s;
}
body .pageContainer .mainContainer header .cvButton:hover {
  width: 12rem;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
body .pageContainer .mainContainer section {
  margin: 0 auto;
  min-width: 8rem;
  max-width: 48rem;
}
body .pageContainer .mainContainer section h2 {
  user-select: none;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
}
body .pageContainer .mainContainer section p {
  padding: 0.5rem 0;
  -webkit-animation: textFade 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: textFade 2s;
  /* Firefox < 16 */
  -ms-animation: textFade 2s;
  /* Internet Explorer */
  -o-animation: textFade 2s;
  /* Opera < 12.1 */
  animation: textFade 2s;
}
body .pageContainer .mainContainer section p a {
  text-decoration: none;
  color: #fff;
}
body .pageContainer .mainContainer section .portfolioContainer {
  margin-bottom: 8rem;
}
body .pageContainer .mainContainer section .portfolioContainer .infoPanel {
  position: relative;
  display: block;
  height: 10rem;
}
body .pageContainer .mainContainer section .portfolioContainer .infoPanel p {
  position: absolute;
  bottom: 0;
  left: 0;
}
body .pageContainer .mainContainer section .portfolioContainer .cardContainer {
  margin: 0 auto;
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto auto;
}
body .pageContainer .mainContainer section .portfolioContainer .cardContainer .card {
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.125);
  border-radius: 5px;
  width: 200px;
  margin: 2rem 0;
  padding: 0.5rem;
  padding-bottom: 1rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
body .pageContainer .mainContainer section .portfolioContainer .cardContainer .card:hover {
  margin: 1.9rem 0;
  animation: jiggle 2s infinite linear;
  transform: scale(1.1, 1.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top-color: rgba(255, 255, 255, 0.95);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}
@keyframes jiggle {
  25% {
    transform: rotate(1deg) scale(1.1, 1.1);
  }
  50% {
    transform: rotate(0deg) scale(1.1, 1.1);
  }
  75% {
    transform: rotate(-1deg) scale(1.1, 1.1);
  }
}
body .pageContainer .mainContainer section .portfolioContainer .cardContainer .card h3 {
  padding: 0 0 0.5rem 0.5rem;
  font-size: 1rem;
}
body .pageContainer .mainContainer section .portfolioContainer .cardContainer .card img {
  max-width: 100%;
  height: auto;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
body .pageContainer .mainContainer section .portfolioContainer .cardContainer .card p.info {
  display: none;
}
body .pageContainer .mainContainer section .portfolioContainer .cardContainer .card:hover {
  cursor: pointer;
}
body .pageContainer .mainContainer section .portfolioContainer .cardContainer .card .projectLinks {
  margin-top: 0.75rem;
  display: flex;
  justify-content: space-between;
}
body .pageContainer .mainContainer section .portfolioContainer .cardContainer .card .projectLinks span {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 0.25rem;
  text-align: center;
}
body .pageContainer .mainContainer section .portfolioContainer .cardContainer .card .projectLinks span a {
  text-decoration: none;
  color: #000f;
}
body .pageContainer .mainContainer section .portfolioContainer .cardContainer .card .projectLinks span:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
body .pageContainer .mainContainer section .contactFormContainer {
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.25);
}
body .pageContainer .mainContainer section .contactFormContainer form {
  margin-top: 1rem;
  padding: 2rem 2rem 1rem 2rem;
}
body .pageContainer .mainContainer section .contactFormContainer form div {
  position: relative;
}
body .pageContainer .mainContainer section .contactFormContainer form div label {
  opacity: 0.3;
  position: absolute;
  top: 1.3rem;
  left: 0.5rem;
  color: #000;
}
body .pageContainer .mainContainer section .contactFormContainer form div input[type=text],
body .pageContainer .mainContainer section .contactFormContainer form div input[type=email],
body .pageContainer .mainContainer section .contactFormContainer form div select,
body .pageContainer .mainContainer section .contactFormContainer form div textarea {
  padding: 0.5rem;
  margin: 1rem 0;
  width: 100%;
  resize: vertical;
}
body .pageContainer .mainContainer section .contactFormContainer form div input[type=text]:focus, body .pageContainer .mainContainer section .contactFormContainer form div input[type=text]:valid,
body .pageContainer .mainContainer section .contactFormContainer form div input[type=email]:focus,
body .pageContainer .mainContainer section .contactFormContainer form div input[type=email]:valid,
body .pageContainer .mainContainer section .contactFormContainer form div select:focus,
body .pageContainer .mainContainer section .contactFormContainer form div select:valid,
body .pageContainer .mainContainer section .contactFormContainer form div textarea:focus,
body .pageContainer .mainContainer section .contactFormContainer form div textarea:valid {
  border: 4px solid #0f0;
}
body .pageContainer .mainContainer section .contactFormContainer form div input[type=text]:focus + label, body .pageContainer .mainContainer section .contactFormContainer form div input[type=text]:valid + label,
body .pageContainer .mainContainer section .contactFormContainer form div input[type=email]:focus + label,
body .pageContainer .mainContainer section .contactFormContainer form div input[type=email]:valid + label,
body .pageContainer .mainContainer section .contactFormContainer form div select:focus + label,
body .pageContainer .mainContainer section .contactFormContainer form div select:valid + label,
body .pageContainer .mainContainer section .contactFormContainer form div textarea:focus + label,
body .pageContainer .mainContainer section .contactFormContainer form div textarea:valid + label {
  top: -0.5rem;
  opacity: 0.75;
}
body .pageContainer .mainContainer section .contactFormContainer form div input[type=text]:not(:placeholder-shown):not(:focus):invalid,
body .pageContainer .mainContainer section .contactFormContainer form div input[type=email]:not(:placeholder-shown):not(:focus):invalid,
body .pageContainer .mainContainer section .contactFormContainer form div select:not(:placeholder-shown):not(:focus):invalid,
body .pageContainer .mainContainer section .contactFormContainer form div textarea:not(:placeholder-shown):not(:focus):invalid {
  border: 4px solid #f00;
}
body .pageContainer .mainContainer section .contactFormContainer form div input[type=text]:not(:placeholder-shown):not(:focus):invalid + label,
body .pageContainer .mainContainer section .contactFormContainer form div input[type=email]:not(:placeholder-shown):not(:focus):invalid + label,
body .pageContainer .mainContainer section .contactFormContainer form div select:not(:placeholder-shown):not(:focus):invalid + label,
body .pageContainer .mainContainer section .contactFormContainer form div textarea:not(:placeholder-shown):not(:focus):invalid + label {
  top: -0.5rem;
  opacity: 0.75;
}
body .pageContainer .mainContainer section .contactFormContainer form div input[type=text]:not(:placeholder-shown):not(:focus):invalid + label:before,
body .pageContainer .mainContainer section .contactFormContainer form div input[type=email]:not(:placeholder-shown):not(:focus):invalid + label:before,
body .pageContainer .mainContainer section .contactFormContainer form div select:not(:placeholder-shown):not(:focus):invalid + label:before,
body .pageContainer .mainContainer section .contactFormContainer form div textarea:not(:placeholder-shown):not(:focus):invalid + label:before {
  content: "☒";
}
body .pageContainer .mainContainer section .contactFormContainer form button {
  margin: 1rem auto;
  display: block;
  width: 8rem;
  position: relative;
  color: #fff;
  margin-bottom: 1.5rem;
  padding: 0.25rem;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  transition: width 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-color 0.5s;
}
body .pageContainer .mainContainer section .contactFormContainer form button:hover {
  width: 12rem;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
body .pageContainer .mainContainer#about,
body .pageContainer .mainContainer#contact {
  color: #fff;
}
body .pageContainer .mainContainer#about h2,
body .pageContainer .mainContainer#contact h2 {
  color: #000;
}
body .pageContainer .mainContainer#about a,
body .pageContainer .mainContainer#contact a {
  color: #000;
}
body .pageContainer .mainContainer#about {
  margin-top: 8rem;
}
body .pageContainer .mainContainer#contact footer {
  width: 100%;
  text-align: center;
  height: 1.5rem;
  color: rgba(255, 255, 255, 0.25);
  margin-top: 40px;
  bottom: 0px;
}

@media only screen and (max-width: 600px) {
  .cardContainer {
    grid-template-columns: auto auto;
  }
}